<p>logged in as <%= user["email"] %></p>

<form action="/user/logout" method="post">
  <input type="hidden" type="_method" value="delete">
  <button class="btn">log out</button>
</form>

<a href="#"><button class="btn">Seach</button></a>
<a href="#"><button class="btn">Add</button></a>
<a href="#"><button class="btn">View Map</button></a>

<div class="main-grid">
    <% cards.each do |card| %>
        <a href="/show/<%= card["id"] %>">
            <div class="card card-multiple">

                <img src="<%= card["image"] %>" alt="<%= card["name"] %>'s profile picture">

                <h4><%= card["name"] %></h4>

                <a href="/card/<%= card["id"] %>/edit"><button class="btn">Update</button></a>
                <%# <a href="/delete"><button class="btn">Delete</button></a> %>
            </div>
        </a>
    <% end %>
</div>