
<form action="/card" method="post">
<input type="hidden" name="_method" value="patch">
<input type="hidden" type="text" name="id" value="<%= card["id"] %>">

    <div class="card card-solo">
        <p><input type="text" class="user-input" name="quality" value="<%= card["quality"] %>"></p>

        <img src="<%= card["image"] %>" alt="<%= card["name"] %>'s profile picture">
        <input type="url" name="image" class="user-input" value="<%= card["image"] %>">
        or
        <input type="file" name="" id="">
        
        <h4>Name <input type="text" class="user-input" name="name" value="<%= card["name"] %>"></h4>

        <p>Met at<input type="text" class="user-input"  name="met" value="<%= card["met"] %>"></p>
        <p>Works at<input type="text" class="user-input" name="workplace" value="<%= card["workplace"] %>"></p>
        <p>skills<input type="text" class="user-input" name="skills" value="<%= card["skills"] %>"></p>

        <p>Notes<input type="text" class="user-input" name="notes" value="<%= card["notes"] %>"></p>

        <input type="submit" class="btn" value="Save Changes">
        <input type="reset" class="btn" value="reset">
        <%# <a href="/delete"><button class="btn">Delete</button></a> %>
    </div>
</form>






<%# <form class="form" action="/user" method="post">
    <h2 class="form--header">Sign up</h2>
    <div class="input-fields">
        <input type="text" name="email" value="email" class="user-input">
        <input type="password" name="pw" value="password" class="user-input">
    </div>

    <button class="btn form-btn">Sign up</button>
</form> %>