
<form class="card card-solo" action="/card" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" type="text" name="id" value="<%= card["id"] %>">

    <img src="<%= card["image"] %>" alt="<%= card["name"] %>'s profile picture">
    
    <section class="card-solo--files">
        <input type="url" name="image" class="user-input image-url-input" value="<%= card["image"] %>">
        <p class="or card-solo--or">or</p>
        <input type="file" class="file-input" name="" id="">    
    </section>

    <section class="card-solo--input-section">
        
        <h4 class="left-col">Name</h4>
        <input type="text" class="user-input" name="name" value="<%= card["name"].split(/ |\_|\-/).map(&:capitalize).join(" ") %>">
        
        <p class="left-col">Met at</p><input type="text" class="user-input"  name="met" value="<%= card["met"] %>">

        <p class="left-col">Knows</p><input type="text" class="user-input" name="source" value="<%= get_card_by_id(card["source"])["name"] %>">

        <p class="left-col">Works at</p><input type="text" class="user-input" name="workplace" value="<%= card["workplace"] %>">

        <p class="left-col">Skills</p><input type="text" class="user-input" name="skills" value="<%= card["skills"] %>">
        
        <p class="left-col">Key Trait</p><input type="text" class="user-input" name="quality" value="<%= card["quality"] %>">

        <p class="left-col">Notes</p>
        <textarea name="notes" id="" cols="30" rows="5"><%= card["notes"] %></textarea>
        <%# <input type="text" class="user-input notes" name="notes" value=""> %>
    </section>
    <input type="submit" class="btn" value="Save Changes">
    <input type="reset" class="btn" value="reset">
    <%# <a href="/delete"><button class="btn">Delete</button></a> %>
</form>