
<form class="card card-solo" action="/card" method="post">
<input type="hidden" name="_method" value="patch">
<input type="hidden" type="text" name="id" value="<%= card["id"] %>">

    <img src="<%= card["image"] %>" alt="<%= card["name"] %>'s profile picture">
    
    <section class="card-solo--files">
        <input type="url" name="image" class="user-input image-url-input" value="<%= card["image"] %>">
        <p class="or card-solo--or">or</p>
        <input type="file" class="file-input" name="" id="">    
    </section>

    <section class="card-solo--input-section">
        
        <h4>Name </h4>
        <input type="text" class="user-input" name="name" value="<%= card["name"] %>">
        
        <p>Met at</p><input type="text" class="user-input"  name="met" value="<%= card["met"] %>">

        <p>Knows</p><input type="text" class="user-input" name="source" value="<%= card["source"] %>">

        <p>Works at</p><input type="text" class="user-input" name="workplace" value="<%= card["workplace"] %>">

        <p>Skills</p><input type="text" class="user-input" name="skills" value="<%= card["skills"] %>">
        
        <p>Key Trait</p><input type="text" class="user-input" name="quality" value="<%= card["quality"] %>">
        
        <p>Notes</p>
        <input type="text" class="user-input notes" name="notes" value="<%= card["notes"] %>">
        
    </section>
    <input type="submit" class="btn" value="Save Changes">
    <input type="reset" class="btn" value="reset">
    <%# <a href="/delete"><button class="btn">Delete</button></a> %>

</form>






<%# <form class="form" action="/user" method="post">
    <h2 class="form--header">Sign up</h2>
    <div class="input-fields">
        <input type="text" name="email" value="email" class="user-input">
        <input type="password" name="pw" value="password" class="user-input">
    </div>

    <button class="btn form-btn">Sign up</button>
</form> %>