
<a href="/card/new"><button class="btn">Add</button></a>
<a href="#"><button class="btn">View Map</button></a>

<form action="/search" method="get">
    <input type="search" class="user-input" name="search" id="search">
    <input type="submit" class="btn" value="Search">
</form>

<div class="main-grid">
    <% cards.each do |card| %>
        <a href="/show/<%= card["id"] %>">
            <div class="card card-multiple">

                <img src="<%= card["image"] %>" alt="<%= card["name"] %>'s profile picture">

                <h4><%= card["name"] %></h4>

                <a href="/card/<%= card["id"] %>/edit"><button class="btn">Update</button></a>
            </div>
        </a>
    <% end %>
</div>