
<a href="/card/new" class="">
    <button class="btn add-btn btn-on-background">ADD</button>
</a>


<form action="/search" method="get" class="search-form">
    <input type="search" class="user-input search--input" name="search" id="search" placeholder="Search...">
    <input type="submit" class="btn search--btn" value="Search">
</form>


<div class="main-grid">

    <% cards.each do |card| %>
    
        
            <div class="card card-multiple">
            <a href="/show/<%= card["id"]%>" class="card--a">
                <img src="<%= card["image"] %>" alt="<%= card["name"] %>'s profile picture">

                <h4><%= card["name"].split(/ |\_|\-/).map(&:capitalize).join(" ") %></h4>

                <a href="/card/<%= card["id"] %>/edit"><button class="btn card--btn">Update</button></a>
            </a>
            </div>
        
    <% end %>
</div>

