
<div class="card card-solo">
    <p><%= card["quality"] %></p>

    <img src="<%= card["image"] %>" alt="<%= card["name"] %>'s profile picture">

    <section class="card-solo--input-section">
        
        <h4 class="left-col">Name:</h4>
        <h4><%= card["name"].split(/ |\_|\-/).map(&:capitalize).join(" ") %></h4>
        
        <p class="left-col">Met at</p><p><%= card["met"] %></p>

        <p class="left-col">Knows</p><p><%= card["source"].split(/ |\_|\-/).map(&:capitalize).join(" ") %></p>

        <p class="left-col">Does</p><p><%= card["job"] %></p>

        <p class="left-col">Works at</p>
        <p><%= card["workplace"] %></p>

        <p class="left-col">Skills</p>
        <p><%= card["skills"] %></p>
        
        <p class="left-col">Key Trait</p>
        <p><%= card["quality"] %></p>

        <p class="left-col">Notes</p>
        <textarea name="notes" id="" cols="30" rows="5"><%= card["notes"] %></textarea>
    </section>

    <a href="/card/<%= card["id"] %>/edit"><button class="btn">Update</button></a>
    <a href="/card/<%= card["id"] %>/delete"><button class="btn">Delete</button></a>
</div>


<div class="main-grid">

    <% if card["source"] != "No-one" %>
        <div class="card card-multiple">
            <a href="/show/<%= source_card["id"]%>" class="card--a">
                <img src="<%= source_card["image"] %>" alt="<%= source_card["name"] %>'s profile picture">

                <h4><%= source_card["name"].split(/ |\_|\-/).map(&:capitalize).join(" ") %></h4>
            </a>
        </div>
    <% end %>

    <% targets.each do |target| %>
    
        <div class="card card-multiple">
            <a href="/show/<%= target["id"]%>" class="card--a">
                <img src="<%= target["image"] %>" alt="<%= target["name"] %>'s profile picture">

                <h4><%= target["name"] %></h4>
            </a>
        </div>   
    <% end %>
</div>
